APP_NAME="Terracap Conecta"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://terracap-conecta.179-198-101-134.sslip.io
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR

SERVER_NAME=:80
APP_IMAGE_TAG=
TRUSTED_PROXIES=172.30.10.1

LOG_CHANNEL=stderr
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=terracap_conecta
DB_USERNAME=terracap
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_COOKIE=terracap_conecta_session
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax

CACHE_STORE=database

QUEUE_CONNECTION=database
DB_QUEUE_RETRY_AFTER=180

FILESYSTEM_DISK=public

ADMIN_NAME="Administrador Terracap Conecta"
ADMIN_EMAIL=
ADMIN_PASSWORD=
